@model List<Product>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a href="/Product/Edit?id=@item.Id" class="btn-btn">Edit</a>
                    <a href="/Product/Delete?id=@item.Id" class="btn-btn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>